html {
  /* BackGround*/
  background-image: url("../public/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  /* Fonts */
  font-family: sans-serif;
  color: white;
}
