html {
  /* 
  background-image: #000, url("../public/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  */
  /* Fonts */
  font-family: sans-serif;
  color: #fff;
  height: 100%;
  overflow-x: hidden;
}

body {
  background: linear-gradient(-45deg, #1a0014, #4c1a53, #5d085d);
  background-size: 500% 500%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #451e3e;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #777;
  border-radius: 10px;
}
